<h1>Teams#new</h1>
<p>Find me in app/views/teams/new.html.erb</p>
<div class="max-w-lg mx-auto">
  <h2 class="text-2xl font-bold my-4 text-center">Ajouter une équipe</h2>
  <%= render "form", team: @team %>
</div>
