// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// From old :root
$black: #000000;
$dark-grey: #888888;
$grey: #bbbbbb;
$light-grey: #dddddd;
$white: #ffffff;

// Navbar
$navbar-bg: $black;
$navbar-light-color: $light-grey;
