// Specific CSS for your home-page
.avatar-hover {
  transition: transform 0.3s ease-in-out;
}

.avatar-hover:hover {
  transform: scale(1.1);
}

.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.team-card {
  transition: transform 0.2s ease-in-out;
}
.team-card:hover {
  transform: scale(1.02);
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.02);
}
