.team-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 250px;

  .card-img {
    filter: brightness(0.7);
  }

  .team-logo {
    max-height: 60px;
    max-width: 60px;
  }

  .card-title {
    font-size: 1rem;
  }

  &:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }

  .team-logo {
  max-height: 80px;
  width: auto;
  z-index: 2;
}

.card-img {
  filter: brightness(0.5);
}

// Specific CSS for your home-page
.avatar-hover {
  transition: transform 0.3s ease-in-out;
}

.avatar-hover:hover {
  transform: scale(1.1);
}
}
