.desktop-ajouter-un-maillot {
  position: relative;

  .upload {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 248px;
    left: 532px;
  }

  .custom-photo-box {
    border: 1px dashed #d9d9d9;
    padding: 2rem;
    text-align: center;
    border-radius: 7px;
    background-color: #f7f7f7;
  }
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.02);
}
