<footer class="bg-light text-center py-4 mt-5">
  <p>Suivez-nous sur</p>
  <div>
    <a href="https://instagram.com" class="mx-2"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com" class="mx-2"><i class="fab fa-twitter"></i></a>
    <a href="https://facebook.com" class="mx-2"><i class="fab fa-facebook"></i></a>
    <a href="https://github.com" class="mx-2"><i class="fab fa-github"></i></a>
  </div>
  <p class="mt-3">&copy; THE SWAP CLUB - 2025</p>
</footer>
