<div class="container my-5 desktop-ajouter-un-maillot text-dark">
  <h2 class="mb-4 text-center">Modifier le maillot</h2>
  <%= render "form", jersey: @jersey %>
  <%= link_to "Annuler", jersey_path(@jersey), class: "btn btn-secondary mt-3" %>
</div>
