<div class="container mt-5">
  <h2 class="mb-4 text-center">Tous les maillots disponibles</h2>
  <% if @jerseys.any? %>
    <div class="row">
      <% @jerseys.each do |jersey| %>
        <div class="col-md-4 mb-4">
          <%= render partial: "jersey_card", locals: { jersey: jersey } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">Aucun maillot disponible pour le moment.</p>
  <% end %>
</div>
