<div class="container my-5 desktop-ajouter-un-maillot text-dark">
  <h2 class="mb-4 text-center">Ajouter un maillot</h2>
  <%= render "form", jersey: @jersey %>
  <%= link_to "Retour à la liste", jerseys_path, class: "btn btn-secondary mt-3" %>
</div>
