body {
  color: white;
  font-family: 'Bakbak One', sans-serif !important;
}

h1, h2, h3, .titre-animée {
  font-family: 'Bakbak One', sans-serif;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: default;
  color: #000;
}

.titre-underline {
  font-family: 'Bakbak One', sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #000;
}

.titre-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background-color: #302e27;
    transition: width 0.3s ease;
}

.titre-underline:hover::after {
    width: 100%;
}
