body {
  color: white;
  font-family: 'Bakbak One', sans-serif !important;
}

.card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}

.btn-primary {
  background-color: #0d2340;
  border-color: #1565C0;
  transition: all 0.3s ease;
}

h1, h2, h3, .titre-animée {
  font-family: 'Bakbak One', sans-serif;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: default;
  color: #000;
}

.titre-underline {
  font-family: 'Bakbak One', sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #000;
}

.titre-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background-color: #302e27;
    transition: width 0.3s ease;
}

.titre-underline:hover::after {
    width: 100%;
}
.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer .fab {
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

footer .fab:hover {
    transform: translateY(-3px) scale(1.1);
    color: #f8d92f;
}
