body {
  color: white;
  font-family: 'Bakbak One', sans-serif !important;
}

h1, h2, h3, .titre-animée {
  font-family: 'Bakbak One', sans-serif;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: default;
  color: #000;
}

.titre-underline {
  font-family: 'Bakbak One', sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #000;
}

.titre-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background-color: #302e27;
    transition: width 0.3s ease;
}

.titre-underline:hover::after {
    width: 100%;
}


.trade-offer-card {
  .jersey {
    text-align: center;
  }

  .exchange-icon {
    font-size: 2.5rem;
  }
}

.chat-box {
  background-color: #f8f9fa;
}

.mask-custom {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 1em;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}


.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

.badge.text-decoration-none:hover {
  background-color: #e2e6ea;
}

main {
  flex: 1;
}
